@import 'node_modules/bulma/bulma.sass';

.root {
  display: flex;
  position: relative;
  width: 100%;

  &:hover {
    .x-icon-button {
      opacity: 1;
      transform: scale(1);
    }
  }

  .x-icon-button {
    position: absolute;
    height: 34px;
    width: 34px;
    background-color: red;
    border-radius: 50%;
    right: -17px;
    top: -17px; // half of the height
    background-image: url("../../../assets/delete_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.2s ease-in, transform 0.2s ease-in;
    transform: scale(0);
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }
  }

}

.budget-item {
  display: flex;
  width: 100%;
  background-color: lightgrey;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;

  .description {
    flex-grow: 1;
    font-size: 18px;
    margin-left: 5px;
  }

  .amount {
    padding: 5px;
    border-radius: 5px;
  }

  &:hover {
    background-color: darken(lightgrey, 5%) ;
  }

}

.expense {
  p {
    color: red;
  }
   .amount {
     background-color: beige;
   }
}

.income {

  p {
    color: lawngreen;
  }
  .amount {
    background-color: beige;
  }
}
